:root {
  --bg: #0f172a;
  --calc-bg: #111827;
  --btn-bg: #1f2933;
  --text: #ffffff;
  --hover: #2563eb;
}

.light {
  --bg: #f1f5f9;
  --calc-bg: #ffffff;
  --btn-bg: #e5e7eb;
  --text: #000000;
  --hover: #3b82f6;
}

body {
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.calculator {
  background: var(--calc-bg);
  padding: 20px;
  border-radius: 16px;
  width: 320px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
  margin-bottom: 10px;
}

.theme-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

#display {
  width: 100%;
  height: 60px;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: right;
  background: black;
  color: white;
  border: none;
  padding-right: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 60px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  background: var(--btn-bg);
  color: var(--text);
  cursor: pointer;
}

button:hover {
  background: var(--hover);
}

.app {
  display: flex;
  gap: 20px;
}

/* HISTORY PANEL */
.history {
  width: 220px;
  background: var(--calc-bg);
  border-radius: 16px;
  padding: 15px;
  color: var(--text);
  box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}

.history h3 {
  margin-bottom: 10px;
  text-align: center;
}

#history-list {
  max-height: 400px;
  overflow-y: auto;
}

.history-item {
  background: var(--btn-bg);
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 14px;
}

.history-item:hover {
  background: var(--hover);
}
